body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

.write-text-in-chat {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 70%;
}

.main-write-text-in-chat {
    width: auto;
    padding: 15px 5px;
    border-radius: 6px 6px 0 0;
    background: rgba(0, 0, 0, 0.8);
}

.main-write-text-in-chat label {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

.main-write-text-in-chat input {
    flex-grow: 1;
    padding: 5px 10px;
    border-radius: 6px 0 0 6px;
    border: none;
    margin-right: 20px;
}

.main-write-text-in-chat button {
    padding: 5px 10px;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    border: none;
}

.game {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.show-hide-button {
    position: fixed;
    right: 5px;
    top: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.70);
    cursor: pointer;
    font-size: 20px;
    min-width: 20px;
    border-radius: 7px;
    z-index: 5;
}

.show-hide-button i {
    color: #fff;
    transition: 1s;
}

.show-hide-button:hover > i {
    position: fixed;
    right: 8px;
    opacity: .3;
}

.chat {
    display: none;
    position: relative;
    width: 100%;
    max-width: 30%;
    background: green;
    padding-top: 30px;
    z-index: 1;
}

.chat-text {
    padding: 0;
    list-style: none;
}

.chat-text li {
    position: relative;
    margin: 5px;
    padding: 15px 10px;
    border-radius: 6px;
    background: cornflowerblue;
}

.chat-text li:first-child:after {
    content: 'new';
    position: absolute;
    right: -5px;
    top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    box-shadow: 0 0 10px 1px #fff;
    background: red;
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

.chat-text li:first-child {
    box-shadow: 0 0 20px 2px #00ff1a;
}

.chat-text li:nth-child(odd) {
    border: 1px solid lawngreen;
}

.chat-text li:nth-child(even) {
    border: 1px dotted orange;
}